# Laravel core
/vendor
/node_modules
/public/build
/public/hot
/storage/*.key
/storage/logs
/storage/framework/*
!storage/framework/.gitignore

# IDEs
.idea/
*.iml
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# OS
.DS_Store
Thumbs.db

# Logs
npm-debug.log
yarn-error.log